.header{
 margin-top: 41px; 
margin-bottom: 41px;   
}
.list{
    width: 20px;
    display: none;
}


.itmes .taxt-link {
    color: 0D0E43;
}
.itmes .mainColor
{
    color: var(--mainColor);
}
.search .text-search{
    border: none;
    outline: none;
}

.search .button-search{
    border: none;
    outline: none;
    background-color: var(--mainColor);
padding: 5px;}
 
.search form
{
    border: 2px solid #E7E6EF;
padding-bottom: 5px;

}













@media screen and ( max-width:1200px )  {
.itmes,.search{display: none;
} 

.list{
    display: block;
}

}