*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
li
{
    list-style-type: none;
}
:root{
    --mainColor:#FB2E86;
--mainFont:   "Lato", sans-serif;
--supFont: "Josefin Sans", sans-serif;

}

h2{
 font-family: "Josefin Sans", sans-serif;

}
.d-flex
{
    display: flex;
}
.flex-wrap
{
    flex-wrap: wrap;

}
.justify-content{ 
    justify-content:space-between;}
    
.row{ display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
align-items: center;
}
.f-column{
      flex-direction: column;

}
.container{
    width: calc(100% - 380px);
margin: auto;
}
  
@media screen and (max-width: 900px) {
 .container{
     width: calc(100% - 200px);
margin: auto;
 }
}
@media screen and (max-width: 600px) {
 .container{
     width: 100%;
     padding: 0 15px;
 }}
/*gaps*/

.gap-1
{
    gap: 5px;
}
.gap-2
{
    gap: 10px;
}
.gap-3
{
    gap: 15px;
}
.gap-4
{
    gap: 20px;
}
.gap-5
{
    gap: 25px;
}
.gap-6
{
    gap: 30px;
}
.gap-7
{
    gap: 35px;
}
.gap-8
{
    gap: 40px;
}
.gap-9
{
    gap: 45px;
}
.gap-10
{
    gap: 50px;
}
.gap-11
{
    gap: 55px;
}
.gap-12
{
    gap: 60px;
}
.gap-13
{
    gap: 65px;
}
.gap-14
{
    gap: 70px;
}


/*gaps*/

/*Start Colors*/

.taxt-link
{
color: #0D0E43;
}
.active
{
    color:var(--mainColor) ;}
/*end Colors*/
.border-0
{
   border: none; 
}
.outline-0
{
    outline: none;
}
 
.taxt-center{
    text-align: center;
}
.cursor-pointer
{
    cursor: pointer;
}
.img-fluid{
    max-width: 100%;
}


.margin-5
{
    margin: 5px;
}
.margin-10
{
    margin: 10px;
}.margin-15
{
    margin: 15px;
}.margin-20
{
    margin: 20px;
}.margin-25
{
    margin: 25px;
}

.padding-5
{
  padding: 5px;  
}
.padding-10
{
  padding: 10px;  
}
.padding-15
{
  padding: 15px;  
}
.padding-20
{
  padding: 20px;  
}
.padding-25
{
  padding: 25px;  
}